*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header{
    background: linear-gradient(#ecf8ff, #d5edff);
    color: #0a3d9e;
}
.img-logo{
    width: 250px;
}
.navbar{
    background-color: #b3e1ff;
    padding: 0;
 }
.navbar a{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #0a3d9e;
}
section{
    scroll-margin-top: 145px;
}
.nav-link:hover{
    color: #188fff !important;
}
.dropdown-item:hover{
    color: #43b3ff !important;
}
#eslogan{
    font-family: "Libre Baskerville", serif;
    font-weight: 500;
    font-style: normal;
    margin-bottom: 15px;
}
h5{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.title-section{
    color: #006cff;
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    scroll-margin-top: 56px;
}

h2{
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
p{
    font-family:"Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#btn-inicio{
    display: block;
    margin: auto;
    padding: 5px;
    font-family:"Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #006cff;
    border-radius: 10px;
    border:2px solid #7fd0ff;
    background-color: transparent;
    outline: none;
}
#btn-inicio:hover{
    background-color: #006cff;
    color:white;
}
.card-services{
    background:linear-gradient(#006cff,#0055fb);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
.card-title-services{
    color: #b3e1ff;
    font-weight: 600;
    text-decoration: none;
}
.card-img-top{
    margin: 5px;
}
#about-us{
    color:#071739;
}
.text-about{
    max-width: 800px;
    margin: 0 auto;
    text-align: justify; 
    line-height: 1.8; 
    font-size: 18px; 
    font-weight: 400;
    color: #0344ca;
}
.text-about p{
    margin-bottom: 20px
}
.text-about strong{
    color: #0a3d9e;
}
.text-services{
    line-height: 1.8;
    color: #0344ca;
    margin: 20px;
}
.text-services strong{
    color: #0a3d9e;
}
/* #contact{
    margin-top: 50px;
} */
#icon-contact{
    display: flex;
    justify-content: center;
    /* margin-top: 30px; */
    /* margin-bottom: 15px; */
}
.fab{
    color:#43b3ff;
    font-size: 30px;
    margin: 10px;
}

@media screen and (max-width: 1280px) {
    #eslogan{
        margin-top: 20px;
        font-size: 50px;
    }
    #btn-inicio{
        margin-top:80px;
        width: 325px;
        height: 60px;
        font-size: 25px;
        border-radius: 15px;
    }
    .navbar a{
        font-size: 16px;
    }
    .title-section{
        font-size:45px;
    }
    .text-services{
        font-size: 22px;
        max-width: 950px;
        margin: 0 auto;
        text-align: justify;

    }
    .text-about{
        font-size: 22px;
    }
    .card-services{
        height: 320px;
    }
    .card-title-services{
        font-size: 20px;
    }
    .card-text{
        font-size: 20px;
    }
}
@media screen and (max-width: 992px) {
    #eslogan{
        font-size: 50px;
    }
    #btn-inicio{
        margin-top:150px;
        width: 325px;
        height: 70px;
        font-size: 25px;
    }
    .title-section{
        font-size:50px;
    }
    .text-services{
        max-width: 700px;
        margin: 0 auto;
        text-align: justify;
    }
    .text-about{
        /* font-size: 24px; */
        max-width: 700px;
        margin: 0 auto;
        text-align: justify;
    }
    /* .container-services-index{
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    } */
    .card-services{
        width: 250px;
        height: 300px;
    }
    .card-title-services{
        font-size: 20px;
    }
    .card-text{
        font-size: 20px;
    }
  }

@media screen and (max-width: 768px){
    .card-services{
        width: 300px;
        height: 250px;
    }
    .card-services .card-text {
        font-size: 18px; 
    }
    .text-about{
        max-width: 800px;
        padding: 5px;
        text-align: justify; 
        line-height: 1.8; 
        font-weight: 400;
        color: #071739;
    }
    .card-project{
        width: 200px;
        height: 250px;
    }
    .img-proyect{
        height: 400px;
    }

}

@media screen and (max-width:574px){
    .img-logo{
        content: url(./img/bulbo.png);
        width: 60px;
    }
    #eslogan{
        font-size: 25px;
    }
    #btn-inicio{
        margin-top:100px;
        width: 300px;
        height: 70px;
        font-size: 23px;
    }
    .text-services{
        text-align: justify;
        margin: 15px;

    }
    .card-services{
        height: 300px;
    }
    .card-text{
        font-size: 65px;
    }
    .text-about{
        margin: 5px;
    }
    .img-proyect{
        height: 300px;
    }
    .card-ofert-size{
        height: 465px;
        border: none;
        width: 300px;
      }
      
}
