*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header{
    background: linear-gradient(#ecf8ff, #d5edff);
    color: #0a3d9e;
}

.navbar{
    background-color: #b3e1ff;
    padding: 0;
 }
.navbar a{
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #0a3d9e;
}
section{
    scroll-margin-top: 145px;
}
.nav-link:hover{
    color: #188fff !important;
}
.dropdown-item:hover{
    color: #43b3ff !important;
}
#eslogan{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 15px;
}
h5{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}
.title-section{
    color: #006cff;
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    scroll-margin-top: 56px;
}

h2{
    color: white;
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}
p{
    font-family:"Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}
#btn-inicio{
    display: block;
    margin: auto;
    padding: 5px;
    font-family:"Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #006cff;
    border-radius: 10px;
    border:2px solid #7fd0ff;
    background-color: transparent;
    outline: none;
}
#btn-inicio:hover{
    background-color: #006cff;
    color:white;
}
.card-services{
    background:linear-gradient(#006cff,#0055fb);
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    height: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
/* .card-services:hover{
    background-color: rgb(7, 23, 57, 0.7);
    
} */
.card-title-services{
    color: #b3e1ff;
    font-weight: 600;
    text-decoration: none;
}
.card-img-top{
    margin: 5px;
}
#about-us{
    color:#071739;
}
.text-about{
    max-width: 800px;
    margin: 0 auto;
    text-align: justify; 
    line-height: 1.8; 
    font-size: 18px; 
    font-weight: 400;
    color: #0344ca;
}
.text-about p{
    margin-bottom: 20px
}
.text-about strong{
    color: #0a3d9e;
}
.text-services{
    line-height: 1.8;
    color: #0344ca;
    margin: 20px;
}
.text-services strong{
    color: #0a3d9e;
}

#icon-contact{
    display: flex;
    justify-content: center;
}
.fab{
    color:#43b3ff;
    font-size: 30px;
    margin: 10px;
}

@media(max-width: 768px){
    .card-services{
        width: 200px;
        height: 250px;
    }
    .card-services .card-title{
        font-size: medium;
    }
    .card-services .card-text {
        font-size: 0.9rem; 
    }
    .text-about{
        max-width: 800px;
        margin: 0 auto;
        padding: 5px;
        text-align: justify; 
        line-height: 1.8; 
        font-size: 16px; 
        font-weight: 400;
        color: #071739;
    }
    .card-project{
        width: 200px;
        height: 250px;
    }

}

/* @media(){
    
} */